.coursesCard{
    padding: 3.125rem 0;
}

.coursesCard .items {
    background-color: #fff;
    padding: 1.875rem;
    text-align: center;    ;
}

.coursesCard .img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #1eb2a6;
    padding: 0.94rem;
}

.coursesCard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.coursesCard .text {
    margin-left: 0.94rem;
    text-align: left;;
}

.coursesCard .text h1 {
    font-size: 1.875rem;
    font-weight: 500;
    line-height: 2.81rem;
}

.coursesCard .rate {
    margin: 1.25rem 0;
    color: #1eb2a6;
}

.coursesCard .rate i {
    font-size: 1.25rem;
    margin-right: 0.3125rem;
}

.coursesCard .details .dimg img {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    margin-top: 1.25rem;
}

.coursesCard .details .box {
    display: flex;
    align-items: center;
    color: grey;
}

.coursesCard .details .para h4{
    font-size: 1.35rem;
    padding-left: 0.6rem;
    margin-top: 0.5rem;
}

.coursesCard .details span {
    color: #1eb2a6;
    font-weight: 500;
    font-size: 0.875rem;
}

.coursesCard .price {
    margin: 1.875rem 0;
    border-color: #f8f8f8;
    padding: 1.25rem;
}

.coursesCard h3 {
    font-weight: 500;
    color: #1eb2a6;
    background-color: #f8f8f8;
    padding: 5%;
}

.online {
    text-align: center;
}

.online .box {
    box-shadow: 0 0.3125rem 1.5625rem -0.125rem rgba(0 0 0 /6%);
    background-color: #fff;
    padding: 1.875rem 1.25rem;
    transition: 0.5s;
}

.online .img {
    width: 5rem;
    height: 5rem;
    margin: 0;
    margin-left: 5rem;
    position: relative;;
}

.online img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.online h1 {
    font-weight: 500;
    font-size: 1.25rem;
    margin: 1.25rem 0;
    line-height: 1.875rem;
}

.online span {
    background-color: #f8f8f8;
    padding: 0.3125rem 1.25rem;
    font-weight: 500;
    font-size: 0.9375rem;
    color: #1eb2a6;
    border-radius: 0.3125rem;
}

.online .box .show {
    opacity: 0;
}

.online .box:hover{
    background-color: #1eb2a6;
    border-radius: 0.3125rem;
    cursor: pointer;
}

.online .box:hover .show{
    opacity: 1;
    position: absolute;
    top: 0%;
    left: 0%;
}

.online .box:hover h1 {
    color: #fff;
}

.online .box:hover span {
    color: #fff;
    background-color: #3e8b85;
}