.hero{
    background-image: url("https://raw.githubusercontent.com/sunil9813/Education-Website-Using-ReactJS/master/public/images/bg.webp");
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    padding-top: 20%;
    padding-right: 3.125rem;
    color: #fff;
}

.hero #heading h3{
    color: #fff;
}

.hero #heading{
    text-align: left;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px){
    .marigin{
        height: 40vh;
        width: 100%;
    }

    .hero {
        background-position: right;
        padding-top: 50%;
        height: 80vh;
        /* width: 100%; */
    }

    .hero .row{
        width: 100%;
    }
}