@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Great+Vibes&family=Kaushan+Script&family=Noto+Sans:wght@300;400;500;600;700;800;900&display=swap");
:root {
  --radius-circle: 50%;
  --lightShadow: 2px 5px 3px 0px #b5d2eb;
  --buttonShadow: 3px 3px 10px #022038;
  --mainTransition: all 0.3s linear;

  --projectTransition: all 0.5s ease-in-out;
  --projectShadow: 1rem 1rem #022038;

  --palette-one: #ffffff;
  --palette-two: #b5d2eb;
  --palette-three: #83b5dd;
  --palette-four: #5197cf;
  --palette-five: #3988c9;
  --palette-six: #076abb;
  --palette-seven: #044070;
  --palette-eight: #032a4b;
  --paletter-black: #000;

  --radius-top: 1rem 1rem 0 0;
  --radius-bottom: 0 0 1rem 1rem;

  --titleSize: 3rem;
}

@keyframes appearFromLeft {
  0% {
    opacity: 0;
    transform: translate(-50px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes appearFromLeftMore {
  0% {
    opacity: 0;
    transform: translate(-200px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes appearFromLeftMore2 {
  0% {
    opacity: 0;
    transform: translate(-300px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes appearFromRight {
  0% {
    opacity: 0;
    transform: translate(100px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes appearFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes appearFromTop {
  0% {
    opacity: 0;
    transform: translateY(-300px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes appearUpwards {
  0% {
    opacity: 0;
    transform: rotateX(90deg);
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotateIn {
  0% {
    opacity: 0;
    transform: translateX(-5rem) rotate(360deg);
  }
  100% {
    opacity: 1;
  }
}

* {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  /* border: 1px solid red; */
}

ul {
  list-style-type: none;
}

.section {
  width: 100vw;
  height: 100vh;
}
.btn {
  background: var(--palette-four);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  transition: var(--mainTransition);
  cursor: pointer;
  text-transform: uppercase;
}

.btn:hover {
  box-shadow: var(--buttonShadow);
}

/* ====== 
Navbar
====== */

.navbar {
  background: var(--palette-one);
  height: 4rem;
  display: flex;
  align-items: center;
  /* border-bottom: 2px solid var(--palette-five); */
  /* box-shadow: var(--lightShadow); */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-center {
  /* background: var(--palette-two); */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav-center .nav-header {
  /* background: var(--palette-two); */
  margin: 0 2rem;
  width: 8rem;
}

.nav-header img {
  width: 3rem;
  height: 3rem;
  border-radius: var(--radius-circle);
}

.nav-header button {
  display: none;
}

.nav-center .link-container {
  /* background: var(--palette-two); */
  display: flex;
  justify-content: space-evenly;
  width: 30rem;
}

.link-container a {
  /* font-size: 5rem; */
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 1rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  letter-spacing: 0.1rem;
  transition: var(--mainTransition);
  color: var(--palette-six);
  border-radius: 0.5rem;
}

.link-container a:hover {
  background: var(--palette-three);
  color: var(--palette-one);
  box-shadow: 2px 2px 3px #000;
}

.nav-center .socials {
  /* background: var(--palette-two); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}

.socials a {
  /* background: var(--palette-two); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding: 0.2rem 0.5rem;
  margin: 0 0.3rem;
  transition: var(--mainTransition);
  color: var(--palette-six);
  border-radius: 1rem;
}

.socials a:hover {
  background: var(--palette-three);
  color: var(--palette-one);
  box-shadow: 2px 2px 3px #000;
}

/* ====== 
Home
====== */

.section-center {
  /* background: var(--palette-three); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-center h1 {
  /* color: var(--palette-five); */
  font-family: "Kaushan Script", sans-serif;
  font-size: 5rem;
  font-weight: 800;
  text-shadow: 5px 10px 10px var(--palette-two);
  animation-name: appearFromLeft;
  animation-duration: 1.5s;
  background: linear-gradient(#b5d2eb 0%, #076abb 60%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.section-center h3 {
  color: var(--palette-six);
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  animation-name: appearFromRight;
  animation-duration: 2s;
}

.section-center .skills-container {
  /* background: var(--palette-three); */
  display: flex;
  flex-direction: row;
  width: 40rem;
  height: 2rem;
  margin: 1rem;
  justify-content: center;
  align-items: center;
}

.skills-container li {
  /* background: var(--palette-two); */
  color: var(--palette-five);
  display: flex;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  animation-name: appearFromLeft;
  animation-duration: 1.5s;
}

.btn-container {
  /* background: var(--palette-two); */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 30rem;
}

.btn-container .btn a {
  color: #fff;
  text-decoration: none;
}

.btn-container .btn {
  animation: appearFromBottom;
  animation-duration: 1.5s;
}

/* ====== 
About 
====== */

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: var(--palette-two);
}
/* background: linear-gradient(
  to right,
  #ffffff 0%,
  #5197cf 10% /* ,
  /* #076abb 70%, */
/* #044070 95% */
/* ); */

.about-info {
  /* background: var(--palette-two); */
  width: 40%;
}

.about-info .title {
  background: linear-gradient(to bottom right, #b5d2eb 10%, #032a4b 60%);
  font-size: var(--titleSize);
  text-transform: capitalize;
  color: var(--palette-one);
  width: 12.5rem;
  transition: var(--mainTransition);
  padding: 0.2rem 1rem;
  box-shadow: 1rem 1rem 0 var(--palette-one);
  margin-bottom: 2rem;
  animation-name: appearFromLeft;
  animation-duration: 1.5s;
  font-family: "Kaushan Script";
  border-radius: 1rem;
}

.about-info .about-description {
  background: var(--palette-four);
  padding: 2rem;
  margin: 2rem 0;
  width: 90%;
  display: flex;
  flex-direction: column;
  box-shadow: 1rem 1rem 0 var(--palette-one);
  animation-name: appearFromLeftMore;
  animation-duration: 2s;
}

.about-description h2 {
  color: var(--palette-seven);
  font-weight: 1000;
  letter-spacing: 0.05rem;
  margin-bottom: 0.5rem;
  /* text-decoration: underline var(--palette-two); */
  border-bottom: 1px solid var(--palette-seven);
  /* width: 60%; */
}

.about-description p {
  text-align: justify;
  letter-spacing: 0.1rem;
}

.about-skills {
  background: var(--palette-three);
  padding: 1rem 2rem;
  width: 90%;
  animation-name: appearFromLeftMore2;
  animation-duration: 2s;
  box-shadow: 1rem 1rem var(--palette-one);
  /* border-radius: 1rem 0.5rem; */
}

.about-skills h2 {
  /* display: flex; */
  color: var(--palette-seven);
  border-bottom: 1px solid var(--palette-seven);
  /* width: 25%; */
}

.about-skills .skills {
  /* background: var(--palette-six); */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  padding: 0.5rem;
}
.skills li {
  /* background: var(--palette-one); */
  color: var(--palette-eight);
  padding: 0.2rem 0;
  width: 100%;
  text-align: center;
  font-weight: 600;
}

.skills p {
  background: linear-gradient(to right, #fff, 0%, #83b5dd 10%, #044070 50%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.about-img {
  /* background: var(--palette-four); */
  width: 20%;
  height: 50%;
  margin: 2rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-img img {
  width: 25rem;
  height: 35rem;
  margin-bottom: 2rem;
  border-radius: 10%;
  animation-name: appearFromTop;
  animation-duration: 2s;
}

.btn-resume {
  background: var(--palette-two);
  color: var(--palette-five);
  animation-name: appearFromRight;
  animation-duration: 2s;
}

/* ====== 
Project List
====== */

.section-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--palette-four);
}

.section-container .section-title {
  color: var(--palette-one);
  font-size: var(--titleSize);
  /* text-transform: uppercase; */
  margin: 1.5rem;
  padding: 0.5rem 2rem;
  animation: appearFromRight 1.5s;
  background: linear-gradient(to bottom right, #b5d2eb 10%, #032a4b 60%);
  font-size: var(--titleSize);
  font-family: "Kaushan Script";
  border-radius: 1rem;
  box-shadow: 1rem 1rem 0 var(--palette-one);
  letter-spacing: 0.1rem;
  justify-content: flex-start;
}

.section-container .section-projects {
  /* background: var(--palette-two); */
  width: 80%;
  margin: 0 5rem;
  display: grid;
  place-items: center;
  grid-template-columns: 2fr 1fr 2fr;
}

/* ====== 
Project Item
====== */

.project {
  /* background: var(--palette-seven); */
  width: 20rem;
  height: 18rem;
  margin: 0.5rem 2rem;
  cursor: pointer;
  transition: var(--projectTransition);
  border-radius: 1rem;
  /* animation-name: appearFromRight;
  animation-duration: 2s; */
}

.project:nth-child(1) {
  animation-name: appearFromLeft;
  animation-duration: 2s;
}

.project:nth-child(2) {
  animation-name: appearFromLeft;
  animation-duration: 2s;
}

.project:nth-child(3) {
  animation-name: appearFromLeft;
  animation-duration: 2s;
}

.project:nth-child(4) {
  animation-name: appearFromRight;
  animation-duration: 2s;
}
.project:nth-child(5) {
  animation-name: appearFromRight;
  animation-duration: 2s;
}
.project:nth-child(6) {
  animation-name: appearFromRight;
  animation-duration: 2s;
}

/* .project:nth-child(n) {
  animation-name: appearFromLeft;
  animation-duration: 2s;
}
.project:nth-child(2n) {
  animation-name: appearFromRight;
  animation-duration: 2s;
} */

.project:hover {
  box-shadow: var(--projectShadow);
}

.project .img-container {
  /* background: var(--palette-four); */
  width: 15 rem;
  height: 60%;
  font-size: 0.8rem;
  border-radius: var(--radius-top);
  display: flex;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  border-radius: var(--radius-top);
  object-fit: cover;
  transition: var(--mainTransition);
}

.img-container img:hover {
  object-fit: cover;
  transform: scale(1.5);
}

.project .description {
  background: var(--palette-one);
  border-radius: var(--radius-bottom);
  padding: 0.5rem;
  overflow: hidden;
  height: 35%;
  /* visibility: hidden; */
}

.description:hover {
  /* height: 100%; */
  position: relative;
}

.description h3 {
  font-size: 1rem;
  text-transform: uppercase;

  animation-name: appearFromLeft;
  animation-duration: 1.5s;
  font-family: "Kaushan Script";
}

.description p {
  /* font-family: "Calibri", sans-serif; */
  /* background: #000; */
  font-size: 0.8rem;
}

.description ul {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
}

.description li {
  font-size: 0.8rem;
  background: var(--palette-two);
  margin: 0.1rem 0.2rem;
  padding: 0 0.2rem;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description .btn-container {
  /* background: #000; */
  width: 100%;
}

.description .btn {
  padding: 0.3rem 0.5rem;
  margin: 0.5rem 0 0 0;
  font-size: 0.8rem;
}

/* ====== 
Contact Page
====== */

.contact {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--palette-two);
  z-index: 1;
}

.contact .title-container {
  /* background: var(--palette-five); */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  position: relative;
}

.title-container .title {
  font-size: var(--titleSize);
  margin: 1rem 0;
  text-align: center;
  /* background: var(--palette-six); */
  color: var(--palette-eight);
  /* transform: translateX(2rem); */
  z-index: 10;
  position: absolute;
  font-family: "Kaushan Script";
  letter-spacing: 0.2rem;
  text-shadow: 3px 3px #fff;
  animation: appearFromRight 2s;
  font-weight: bold;
}

.title-container .triangles {
  position: absolute;
  z-index: 5;
  /* background: #000; */
  width: 50%;
  height: 100%;
  position: relative;
}

.title-container .triangle {
  width: 0;
  height: 0;
  position: absolute;
  animation-name: rotateIn;
  animation-duration: 2s;
}

.title-container .triangle:nth-child(1) {
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  border-bottom: 3rem solid #044070;
  transform: rotate(30deg);
  z-index: 3;
}

.title-container .triangle:nth-child(2) {
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  border-top: 3rem solid #ffffff;
  transform: rotate(10deg) translateX(4rem);
  z-index: 3;
}

.title-container .triangle:nth-child(3) {
  border-left: 2rem solid transparent;
  border-right: 1.5rem solid transparent;
  border-top: 2rem solid #83b5dd;
  transform: rotate(40deg) translateX(3rem);
  z-index: 4;
}

.title-container .triangle:nth-child(4) {
  border-right: 2rem solid transparent;
  border-left: 2rem solid transparent;
  border-top: 3rem solid #044070;
  transform: rotate(3deg) translateX(18rem);
  z-index: 4;
}

.title-container .triangle:nth-child(5) {
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  border-top: 3rem solid #ffffff;
  transform: rotate(8deg) translateX(15rem);
}

.title-container .triangle:nth-child(6) {
  width: 0;
  height: 0;
  border-left: 2rem solid transparent;
  border-right: 1.5rem solid transparent;
  border-top: 2rem solid #83b5dd;
  transform: rotate(6deg) translateX(13rem);
  z-index: 4;
}

.title-container .triangle:nth-child(7) {
  border-bottom: 3rem solid transparent;
  border-left: 4rem solid transparent;
  border-right: 3rem solid #076abb;
  transform: rotate(4deg) translateX(4.6rem);
  z-index: 4;
}

.title-container .triangle:nth-child(8) {
  border-left: 2rem solid transparent;
  border-right: 1.5rem solid transparent;
  border-top: 2rem solid #83b5dd;
  transform: rotate(10deg) translateX(17rem);
  z-index: 4;
}

.title-container .triangle:nth-child(9) {
  border-bottom: 2rem solid #3988c9;
  border-left: 1.5rem solid transparent;
  border-right: 1.5rem solid transparent;
  transform: rotate(20deg) translateX(7rem);
  z-index: 3;
}

.title-container .triangle:nth-child(10) {
  border-left: 2rem solid transparent;
  border-right: 2rem solid #fff;
  border-top: 2rem solid transparent;
  transform: rotate(15deg) translateX(8rem);
  z-index: 3;
}

.title-container .triangle:nth-child(11) {
  border-left: 2rem solid transparent;
  border-right: 1.5rem solid transparent;
  border-top: 2rem solid #076abb;
  transform: rotate(15deg) translateX(12rem);
  z-index: 4;
}

.title-container .triangle:nth-child(12) {
  border-left: 1.5rem solid transparent;
  border-right: 1.5rem solid transparent;
  border-top: 2rem solid #076abb;
  transform: rotate(8deg) translateX(20.5rem);
  z-index: 4;
}
.title-container .triangle:nth-child(13) {
  border-left: 2rem solid transparent;
  border-right: 1.5rem solid transparent;
  border-top: 2rem solid #fff;
  transform: rotate(5deg) translateX(22rem);
  z-index: 4;
}

.contact h2 {
  margin-top: 1rem;
  animation: appearFromLeftMore 2s;
}

.contact .contact-container {
  background: var(--palette-five);
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 2rem;
  margin-top: 1rem;
  animation: appearFromBottom 2s;
}

.contact-container .contact-info {
  /* background: var(--palette-one); */
  margin: 0.5rem 1rem;
}

.contact-info div {
  padding: 1rem;
}

.contact-info h3 {
  text-transform: capitalize;
}

.contact-info a {
  color: var(--palette-one);
  font-weight: 500;
  text-decoration: none;
  font-size: 0.8rem;
}

.contact-container .contact-form {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 1rem;
}
.contact-form input {
  border-radius: 0.5rem;
  border: none;
  padding-left: 1rem;
  height: 2rem;
  margin: 0.3rem 0;
}

.contact-form input:nth-of-type(1) {
  margin-top: 0;
}

.contact-form textarea {
  border-radius: 0.5rem;
  border: none;
  margin: 0.3rem 0;
  padding: 0.3rem 1rem;
}

.contact-form .btn {
  background: var(--palette-eight);
  color: var(--palette-two);
}
