@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Great+Vibes&family=Kaushan+Script&family=Noto+Sans:wght@300;400;500;600;700;800;900&display=swap");
:root {
  --textShadow: 3px 3px #fff;
  --lightShadow: 2px 5px 3px 0px #b5d2eb;

  --buttonShadow: 5px 5px 10px #076abb;
  --buttonTextShadow: 3px 3px 5px #022038;
  --navBtnShadow: 3px 3px 8px #032a4b;
  --buttonTextShadowSmall: 5px 5px 0 #fff;

  --projectTransition: all 0.5s ease-in-out;
  --projectTransition1: all 0.3s linear;
  --projectShadow: 0.5rem 0.8rem #022038;
  --btnTransition: all 0.3s linear;

  --downloadHover: 6px 6px 10px #fff;
  --imageHover: scale(1.5);
  --projectHover: 20px 15px 0 #022038;

  --palette-one: #ffffff;
  --palette-two: #b5d2eb;
  --palette-three: #83b5dd;
  --palette-four: #5197cf;
  --palette-five: #3988c9;
  --palette-six: #076abb;
  --palette-seven: #044070;
  --palette-eight: #032a4b;
  --paletter-black: #000;

  --palette-nine: #273893;
  --palette-orange: #511ae7;
  --palette-green: #04993d;

  --subtitleColor: #032a4b;

  --radius-top: 1rem 1rem 0 0;
  --radius-bottom: 0 0 1rem 1rem;
  --radius-all: 1rem;
  --radius-circle: 50%;
  --btnRadius: 1rem 0.5rem;

  --titleSize: 3rem;
}

@keyframes appearFromLeft {
  0% {
    opacity: 0;
    transform: translate(-50px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes appearFromLeftMore1 {
  0% {
    opacity: 0;
    transform: translate(-100px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes appearFromLeftMore {
  0% {
    opacity: 0;
    transform: translate(-200px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes appearFromRight {
  0% {
    opacity: 0;
    transform: translate(100px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes appearFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes appearFromTop {
  0% {
    opacity: 0;
    transform: translateY(-300px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes appearUpwards {
  0% {
    opacity: 0;
    transform: rotateX(90deg);
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotateInLeft {
  0% {
    opacity: 0;
    transform: translate(-14rem, -5rem) rotate(720deg);
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotateInRight {
  0% {
    opacity: 0;
    transform: translate(14rem, -5rem) rotate(720deg);
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotateInTop {
  0% {
    opacity: 0;
    transform: translateY(-5rem) rotate(360deg);
    transform: translate(-14rem, -5rem) rotate(360deg);
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotateInBtn {
  0% {
    opacity: 0;
    transform: translate(-14rem, -5rem) rotate(360deg);
  }
  100% {
    opacity: 1;
  }
}

/* ====== 
Global
====== */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  /* border: 1px solid red; */
}

.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-direction: column;
}

ul {
  list-style-type: none;
  /* text-decoration: none; */
}

.btn {
  background: var(--palette-four);
  text-transform: uppercase;
  padding: 0.2rem 0.5rem;
  transition: var(--btnTransition);
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
}

.btn:hover {
  box-shadow: var(--buttonShadow);
}

img {
  object-fit: cover;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
}

.section-title {
  /* background: var(--palette-two); */
  margin-top: 7.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.section-title .title {
  text-transform: capitalize;
  font-size: var(--titleSize);
  color: var(--palette-eight);
  text-shadow: var(--textShadow);
  font-family: "Kaushan Script";
  font-weight: 1000;
  margin-bottom: 1rem;
  z-index: 10;
  animation: appearFromRight 3s;
}

/* ====== 
Navbar
====== */

.navbar {
  background: var(--palette-one);
  width: 100vw;
  height: 4rem;
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 100;
}

.nav-header {
  /* background: #000; */
  /* width: 90%; */
  /* position: fixed; */
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* height: 100%; */
  /* display: none; */
}

.toggle-container .menu {
  display: none;
}

.link-container {
  width: 40%;
}

.link-container .links {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  text-transform: uppercase;
  /* display: none; */
}

.links a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--palette-six);
  transition: var(--btnTransition);
  padding: 0.5rem 1rem;
  border-radius: var(--btnRadius);
  font-weight: 700;
}

.links a:hover {
  background: var(--palette-three);
  color: var(--palette-one);
  box-shadow: var(--navBtnShadow);
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4%;
}

.socials a {
  color: var(--palette-six);
  margin: 0 0.2rem;
  font-size: 1.2rem;
  /* background: var(--palette-four); */
  border-radius: var(--radius-circle);
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--btnTransition);
}

.socials a:hover {
  background: var(--palette-three);
  color: var(--palette-one);
  box-shadow: var(--navBtnShadow);
}

/* @media screen and (max-width: 600px) {
  .toggle-container .menu {

  }
} */

@media screen and (max-width: 600px) {
  .navbar {
    /* background: var(--palette-two); */
    height: 4rem;
    /* width: 100%; */
  }

  .toggle-container .menu {
    display: block;
    cursor: pointer;
    color: var(--palette-six);
    background: none;
    border: none;
    font-size: 200%;
    display: flex;
    align-content: center;
    transform: translateX(-15px);
  }
  .link-container .links {
    display: none;
  }
  .navbar .socials a {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-10px);
  }
}

/* ====== 
Home
====== */

.home h1 {
  font-family: "Kaushan Script", sans-serif;
  font-size: 4rem;
  font-weight: 800;
  text-shadow: 5px 10px 10px var(--palette-two);
  animation-name: appearFromLeft;
  animation-duration: 1.5s;
  background: linear-gradient(#b5d2eb 0%, #076abb 60%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  width: 80vw;
  margin: 0.5rem auto;
}

.home h3 {
  color: var(--palette-six);
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  animation-name: appearFromRight;
  animation-duration: 2s;
  width: 80vw;
  margin: 0.5rem auto;
}

.home .skills-container {
  display: flex;
  width: 70vw;
  align-items: center;
  justify-content: space-evenly;
  margin: 0.5rem auto;
  overflow: visible;
  flex-wrap: wrap;
}

.skills-container li {
  /* padding: 0.25rem; */
  display: flex;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-size: 1rem;
  animation-name: appearFromLeft;
  animation-duration: 1.5s;
  color: var(--palette-five);
}

.btn-container {
  display: flex;
  align-items: center;
  margin: 0.5rem auto;
  width: 40vw;
  /* height: 2rem; */
  justify-content: space-evenly;
}

.btn-container .btn {
  animation: appearFromBottom;
  animation-duration: 1.5s;
  transition: var(--btnTransition);
}

.home .btn a {
  color: var(--palette-one);
  text-decoration: none;
}

.home .btn:hover {
  box-shadow: var(--buttonShadow);
}

@media screen and (max-width: 425px) {
  .home h1 {
    /* background: #000; */
    width: 100%;
    font-size: 3.5rem;
  }

  .home h3 {
    font-size: 1.35rem;
    width: 100%;
  }

  .skills-container li {
    margin: 0.2rem;
  }

  .btn-container {
    /* background: #000; */
    width: 80%;
  }

  .home .btn {
    font-size: 1rem;
    margin: 0 auto;
  }
}

/* ====== 
About
====== */
.about,
.contact,
.project-list {
  background: var(--palette-two);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

.section-container {
  /* background: var(--palette-five); */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  margin: 0 auto;
}

.about-info {
  /* background: var(--palette-five); */
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-description,
.about-skills {
  background: var(--palette-four);
  padding: 2rem;
  width: 80%;
  margin: 1rem auto;
  box-shadow: 1rem 1rem 0 var(--palette-one);
  animation-name: appearFromLeftMore;
  animation-duration: 2s;
}

.about-info h2 {
  font-size: 1.8rem;
  text-align: left;
  margin-bottom: 1rem;
  font-weight: 1000;
  color: var(--subtitleColor);
  color: var(--palette-one);
  border-bottom: 1px dashed var(--palette-seven);
}

.about-description p,
.skills p {
  letter-spacing: 0.05rem;
  text-align: justify;
}

.about-skills .skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.skills p {
  margin-top: 0.1rem;
  color: var(--palette-eight);
  font-weight: 500;
}

.about-img {
  /* background: var(--palette-eight); */
  width: 20%;
  padding: 3rem 0;
  margin-right: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: appearFromRight 3s;
}

.about-img img {
  width: 80%;
  height: 25rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  object-fit: cover;
}

.about-img .btn-resume {
  background: var(--palette-three);
  background: linear-gradient(
    to bottom right,
    #b5d2eb 5%,
    #83b5dd 15%,
    #076abb 30%,
    #044070 50%,
    #076abb 80%,
    #b5d2eb 95%
  );
  /* box-shadow: var(--buttonTextShadowSmall); */
  width: 10rem;
  height: 2.5rem;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  /* color: var(--palette-seven); */
  color: var(--palette-one);
  font-weight: 600;
}

.btn-resume:hover {
  background: var(--palette-green);
  color: var(--palette-one);
  box-shadow: var(--downloadHover);
  transform: scale(1.5);
}

@media screen and (max-width: 1024px) {
  .section-container {
    flex-direction: column;
    background: var(--palette-two);
  }

  .about-description p,
  .skills p {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
  }

  .about-img {
    margin: 0 auto;
  }

  .about-img img {
    width: 15rem;
    height: 15rem;
    border-radius: var(--radius-circle);
  }
}

@media screen and (max-width: 425px) {
  .section-title,
  .triangles {
    transform: scale(0.85) translateY(-0.5rem);
  }

  .section-container {
    width: 100%;
    /* background: #000; */
    margin: 0;
  }

  .about-info {
    width: 95%;
  }

  .section-container h2 {
    font-size: 1.2rem;
  }
}

/* ====== 
Project List
====== */
.project-list {
  background: var(--palette-four);
  display: flex;
  flex-direction: column;
}

.project-list .section-container {
  background: var(--palette-four);
  flex-wrap: wrap;
  max-width: 100%;
  padding: 0 20rem;
}

/* ====== 
Single Project
====== */
.project {
  background: var(--palette-three);
  max-width: 20rem;
  cursor: pointer;
  transition: var(--projectTransition);
  margin: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  height: 22rem;
}

.project:hover {
  box-shadow: var(--projectHover);
}

.project:nth-child(1),
.project:nth-child(2),
.project:nth-child(3) {
  animation: appearFromLeft;
  animation-duration: 3s;
}

.project:nth-child(4),
.project:nth-child(5),
.project:nth-child(6) {
  animation: appearFromRight;
  animation-duration: 3s;
}

.project .img-container {
  background: var(--palette-two);
  width: 100%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.project img {
  border-radius: 0;
  object-fit: contain;
  overflow: hidden;
  width: 100%;
  height: 50%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  transition: var(--projectTransition);
}

.project img:hover {
  transform: var(--imageHover);
}

.description {
  background: var(--palette-one);
  height: 90%;
  transition: var(--projectTransition1);
  position: relative;
  overflow: hidden;
  padding: 0.2rem;
}

/* .description:hover {
  background: var(--palette-one);
  transform: translateY(-11.8rem);
  height: 22rem;
  background: rgba(255, 255, 255, 0.9);
  border-radius: var(--radius-all);
} */

.description h3 {
  font-size: 1rem;
  text-transform: uppercase;
  animation-name: appearFromLeft;
  animation-duration: 1.5s;
  font-family: "Kaushan Script";
  text-align: left;
  margin-left: 1rem;
  margin-top: 0.4rem;
  width: 80%;
  overflow: hidden;
}

.description p {
  border: 1px solid #fff;
  min-height: 2.2rem;
  max-height: 4rem;
  font-size: 0.85rem;
  margin: 0.2rem 1rem;
  letter-spacing: 0.05rem;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  width: 90%;
  overflow-y: scroll;
  text-align: justify;
  padding-right: 0.4rem;
}

.description ul {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0.1rem 0; */
}

.description li {
  background: var(--palette-two);
  padding: 0 0.5rem;
  margin: 0 0.2rem;
  border-radius: 0.25rem;
}

.project .btn-container {
  width: 100%;
}

.btn-code {
  background: var(--palette-orange);
  color: var(--palette-one);
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.btn-demo {
  background: var(--palette-green);
  color: var(--palette-one);
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn-code,
.btn-demo {
  font-weight: 600;
  border-radius: 0.5rem;
  height: 1.5rem;
}

.btn-code:hover,
.btn-demo:hover {
  box-shadow: var(--buttonTextShadow);
}

@media screen and (max-width: 1440px) {
  .project-list .section-container {
    background: var(--palette-four);
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 4rem;
    justify-content: space-around;
    width: 100%;
  }

  .project {
    width: 19rem;
  }
}

@media screen and (max-width: 1024px) {
  .project-list .section-container {
    background: var(--palette-four);
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 4rem;
    justify-content: space-around;
    width: 100%;
  }

  .project {
    width: 19rem;
  }
}

@media screen and (max-width: 768px) {
  .project-list .section-container {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  /*
  .project .section-title {
    width: 100%;
    margin: 1rem 2rem;
    height: 20rem;
  }

  .description li {
    font-size: 0.85rem;
  } */

  /* .project {
    width: 17rem;
    height: 21rem;
  } */

  .project:nth-child(1),
  .project:nth-child(2),
  .project:nth-child(5),
  .project:nth-child(6) {
    animation: appearFromLeft;
    animation-duration: 3s;
  }

  .project:nth-child(3),
  .project:nth-child(4) {
    animation: appearFromRight;
    animation-duration: 3s;
  }
}

@media screen and (max-width: 425px) {
  .project-list .section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .project {
    width: 18rem;
    padding: 0;
  }

  .description li {
    font-size: 0.85rem;
    margin: 0.2rem;
    padding: 0.2rem 0.5rem;
  }
}

/* ====== 
Contact
====== */

.contact h2 {
  animation: appearFromLeftMore1;
  animation-duration: 2s;
}

.contact .section-container {
  background: var(--palette-five);
  max-width: 60%;
  height: 60%;
  align-items: start;
  padding: 3rem;
  margin: 1rem auto;
  animation: appearFromBottom 2s;
}

.contact-info {
  /* background: var(--palette-two); */
  width: 40%;
  text-align: left;
  height: 100%;
}

.contact-info h3 {
  text-transform: capitalize;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
}

.contact-info a {
  margin-left: 1.5rem;
  color: var(--palette-one);
  text-decoration: none;
}

.contact-form {
  /* background: var(--palette-six); */
  display: flex;
  flex-direction: column;
  width: 60%;
}

.contact-form input,
.contact-form textarea {
  margin: 0.5rem 0;
  height: 2rem;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
}
.contact-form textarea {
  height: 40%;
}

.contact-form .btn {
  margin-top: 1rem;
  height: 2.5rem;
  background: var(--palette-eight);
  color: var(--palette-two);
}

@media screen and (max-width: 1024px) {
  .contact h2 {
    font-size: 1.3rem;
    margin: 1rem auto;
  }

  .contact .section-container {
    background: var(--palette-six);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    overflow: hidden;
    max-width: 80%;
  }

  .contact-info {
    /* background: var(--palette-two); */
    width: 50%;
    display: flex;
    height: 80%;
    flex-direction: column;
  }

  .contact-info a,
  .contact-info h3 {
    padding: 0;
    margin: 0.5rem 0;
  }

  .contact-info a {
    font-size: 1rem;
  }

  .contact-form {
    /* background: var(--palette-four); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 100%;
    width: 65%;
  }

  .contact-form input,
  .contact-form textarea {
    width: 80%;
    margin: 0.5rem 0;
  }
}

@media screen and (max-width: 425px) {
  .section .contact {
    /* background: #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .contact .section-container {
    background: var(--palette-five);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 80%;
    transform: translateY(-1rem);
    height: 100%;
  }

  .contact-info {
    /* background: var(--palette-eight); */
    width: 100%;
    height: 50%;
    padding: 1rem 2rem;
  }

  .contact-info h3 {
    margin-top: 0;
  }

  .contact-form {
    width: 100%;
    padding: 0;
    height: 100%;
    margin: 0;
    transform: translateY(-50px);
  }

  .contact-form input {
    width: 80%;
    margin: 0.5rem 0;
    padding: 0 0.5rem;
  }

  .contact-form textarea {
    width: 80%;
    height: 20%;
  }

  .contact-form .btn {
    margin: 0.5rem auto;
  }
}

/* @media screen and (max-width: 425px) {
  .contact {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact .section-container {
    background: var(--palette-six);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
    flex-wrap: nowrap;
    width: 100rem;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
    margin-left: 0.8rem;
  }

  .contact-info h3 {
    font-size: 1rem;
  }

  .contact-info a {
    font-size: 0.9rem;
    display: flex;
    flex-wrap: wrap;
  }

  .contact-info a,
  .contact-info h3 {
    padding: 0 1.5rem;
    margin: 0.5rem 0.5rem 0 0;
  }

  .contact-form input,
  .contact-form textarea {
    width: 100%;
    margin: 0.2rem 0;
  }

  .contact input {
    height: 0.25rem;
    font-size: 0.8rem;
    width: 100%;
  }

  .contact-form textarea {
    height: 40%;
  }
} */
