@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Raleway", sans-serif;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #2d2d2d;
    border-radius: 5px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #183b6b;
    border-radius: 5px;
    cursor: pointer;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .enterPosition {
    transition: all 0.3s ease-in-out;
    animation-name: fadeIn;
    animation-duration: 3s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .enterFromLeft {
    transition: all 0.3s ease-in-out;
    animation-name: enterLeft;
    animation-duration: 3s;
  }
  .enterFromLeftSlower {
    transition: all 0.3s ease-in-out;
    animation-name: enterLeftSlower;
    animation-duration: 3s;
  }

  @keyframes enterLeft {
    0% {
      opacity: 0;
      transform: translate(-200px, 0);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  @keyframes enterLeftSlower {
    0% {
      opacity: 0;
      transform: translate(-200px, 0);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  .enterFromRight {
    transition: all 0.3s ease-in-out;
    animation-name: enterRight;
    animation-duration: 3s;
  }

  @keyframes enterRight {
    0% {
      opacity: 0;
      transform: translate(200px, 0);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  .enterFromBottom {
    transition: all 0.3s ease-in-out;
    animation-name: enterBottom;
    animation-duration: 3s;
  }

  @keyframes enterBottom {
    0% {
      opacity: 0;
      transform: translate(0, 200px);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  /* 
  .enterFromBottom:nth-child(2) {
    transition-delay: 0.5s;
  }
  .enterFromBottom:nth-child(3) {
    transition-duration: 0.6s;
  }
  .enterFromBottom:nth-child(4) {
    transition-duration: 0.7s;
  }
  .enterFromBottom:nth-child(5) {
    transition-duration: 0.8s;
  }
  .enterFromBottom:nth-child(6) {
    transition-duration: 0.9s;
  } */
}
